body {
    min-height: 100vh;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: #f5f5f5;
}

.home-nav {
    background-color: #f5f5f5;
}

.home-nav a {
    text-decoration: none;
    color: #604cc3;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;

    border-bottom: #000000;
}

.home-nav a:hover {
    color: #000000;
}

.home-nav .homediv {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home-nav ul li {
    display: inline-block;
    margin-top: 0px;


}

.home-nav .logo {
    padding: 10px 20px 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 118, 6);
    font-size: 1.3em;
}

.home-nav input {
    background-color: rgba(0, 0, 0, 0.76);
    color: #f5f5f5;
    border-radius: 25px 25px 25px 0px;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 20px 5px 20px;
    border: none;
}

.home-nav input:hover {
    background-color: rgb(255, 195, 17);
    color: #000000;
}

.home-nav input:active {

    background-color: rgb(226, 175, 19);
}
.side-bar{
    margin-top: 0px;
    background-color: #faf1f156;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}
.side-bar .link{
    width:100%;
    padding: 20px;
    
    
}

.homepage-info {
    background-image: url(/images/wallpapersden.com_porsche-minimal_3400x1440.jpg);
   
     background-position:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-info h1 {
    font-weight: lighter;
    font-size: 2.8em;
    padding: 20px 0px 0px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.homepage-info p {
    width: 80%;
    font-size: 1.1em;
    word-spacing: 7px;
    padding: 20px 0px 0px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f5f5f5;

}

.homepage-info .home-img {
    width: 600px;
    height: 400px;
    padding: 0px 20px;
}

.homepage-info .homebtn {
    background-color: orange;
    padding: 9px 25px 10px 25px;
    margin: 30px 60px 30px 50px;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px 30px 35px 0px;
    border: none;

}

.rentstar-home {
    width: 80%;
    font-size: 1.1em;
    word-spacing: 7px;
    padding: 20px 0px 0px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rentstar-home .homebtn {
    background-color: rgb(255, 170, 1);
    color: #000000;
    padding: 10px 25px 10px 25px;
    margin: 10px 60px 30px 10px;
    font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 30px 30px 35px 0px;
    font-weight: lighter;
}

.homebtn:hover {
    background-color: rgb(246, 210, 8);
}

.homebtn:active {
    background-color: rgb(227, 159, 0);
}

.final-words p{
    text-align: center;
    width: 80%;
    font-size: 1.1em;
    word-spacing: 7px;
    padding: 20px 0px 0px 50px;
    word-spacing: 7px;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {


    width: 100%;
    padding: 30px;
    background-color: #604cc3;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer ul li {
    display: inline-block;
    padding: 10px 30px;
}

footer .footer-page a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-us h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact-us p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


form {
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-color: rgba(242, 214, 123, .4);
    padding: 50px;
    margin: 50px auto;
    width: 500px;
    border-radius: 7px;
}

.contact-us .con-us {
    margin: auto;
    padding: 10px;
    font-size: 1.5em;
    width: 100%;
   
}

.contact-us .con-us input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 0.75em;
}
.con-us input :focus{
    border: none;
}
.contact-us textarea{
 height: 300px;
 width: 100%;
 border-radius: 10px;
 border: none;
 outline: none;
 padding: 10px;
 font-size: .80em;
 box-sizing: border-box;
 overflow-y: scroll;
 resize: none;
}
.con-us .homebtn{
    background-color: rgb(255, 213, 0);
}
.con-us .homebtn:hover{
    background-color: rgb(255, 179, 0);
}
.con-us .homebtn:active{
    background-color: rgb(255, 221, 50);
}

.login-border{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-border a{
    color: #01123e;

}
.login-border a:hover{
    color: #4f586e;

}
.login-border a:active{
    color: #000000;

}
.login-sub-container{
    background-color: #604cc323;
    margin: 50px auto; 
    width: 500px;
    margin: 100px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.log-details{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.log-details input{
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    border-radius:5px ;
    border: none;
    outline: none;
}
.log-details input:hover{
    background-color: #7572729a;
}
.log-details button{
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    border-radius:5px ;
    border: none;
    outline: none;
    background-color:rgb(255, 191, 0) ;
}
.log-details a{
    width: 100%;
}
.log-details button:hover{
    background-color:rgb(246, 203, 72) ;
}
.log-details button:active{
    background-color:rgb(194, 159, 56) ;
}
.space {
     display: flex;
     justify-content: flex-end;
     padding: 10px 20px;
     
    
}
.showmenu .menu-button{
    display: none;
}


@media (max-width:1100px) {

    .showmenu .link{
        display: none;
    }

    .homepage-info {
        flex-direction: column;
    }
    .showmenu .menu-button{
        display: block;
    }

    .homepage-info input {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 5px;
    }

    .home-img {
        width: 30px;
        height: 50px 0px 0px 30px;
    }
    .contact-us form {
        width: 300px;
        height: 600px;
        align-items: center;
        text-align: center;
    }

  

    .rentstar-home {}

    footer {
        width: 100%;
    }
}
@media(max-width:400px){
    .side-bar{
        width: 100%;
        padding-left:20px;
    }

}
@media(max-width:550px){

    .login-sub-container{
        width: 380px;
        height: 500px;
        align-items: center;
        text-align: center;
        
    }

}